# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Data Science Tools
- List of the commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. Keras
5. Seaborn

|Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(f"{minutes} minutes are {hours} hours")

200 minutes are 3.3333333333333335 hours

## Author
Gabriel Yepez Cadenas